.header {
  margin: 0 auto;
  max-width: 1184px;
  width: calc(100% - 96px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .header {
    max-width: 720px;
    width: calc(100% - 48px);
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .header {
    max-width: 288px;
    width: calc(100% - 32px);
  }
}