.place__paragraph {
  margin: 0 auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin-bottom: 26px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}