.place__website-link {
  margin: 0;
  line-height: 122%;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  color: #fff;
  text-decoration-line: underline;
  transition: opacity 0.3s ease;
}

.place__website-link:hover {
  opacity: 0.8;
}