.cover__background {
  margin: 0 auto;
  max-width: 1184px;
  width: 100%;
  min-height: 740px;
  background-image: url(../../../images/cover__background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-decoration: none;
  color: #fff;
  z-index: 1;
  position: relative;
}

.cover__background::before {
  content: "";
  background: #2a2c2f;
  opacity: .3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: opacity 0.5s ease-in-out;
}

.cover__background:hover::before {
  opacity: .8;
}

/* 1024 */
@media screen and (max-width: 1024px) {
  .cover__background {
    min-height: 640px;
  }
}

/* 768 */
@media screen and (max-width: 768px) {
  .cover__background {
   min-height: 480px;
  }
}

/* 320 */
@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
    justify-content: flex-start;
  }
}