.intro__title {
  margin: 0;
  line-height: 107%;
  font-family: 'Inter', Helvetica, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
}

/* 320 */
@media screen and (max-width: 320px) {
  .intro__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 35px;
  }
}